@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
  background-color:#fff;
  min-height: 30%;
  width: 100%;
  font-family: 'Montserrat',sans-serif;

}

.textos-question>p{
	font-size: .01rem;
}

.questions>img{
	width: 50%;
	border-radius: 50%;
}

.questions{
    padding: 2em 1.5em;
}

.form{
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	width: 80%;
    max-width: 700px;
    border-radius: 1em;
    padding: 2em 1.5em;
    margin: auto;
    margin-bottom: 20px;

}

.form__container{
	width: 100%;
	display: grid;
	grid-gap: 1em;
	grid-auto-columns: 100%; 
}

.form__title{
	text-align: center;
	font-size: 1rem;
	margin-bottom: .2em;
}

.form__input{
	font-family: inherit;
	font-size: 1rem;
	padding: .8em 1em;
	outline: none;
	border: none;
	border:1px solid #bbb0b0;
	border-radius: 0.2em;
}

.form__input--message{
	resize: none;
	padding: 1.8em 1em;
	margin-bottom: .5em;
}

.form__cta{
	font-family: inherit;
	font-size: 1rem;
	background-color: #089fe0;
	color: #fff;
	border: none;
	font-weight: 300;
	padding: .7em 0;
	border-radius: .2em;
	cursor: pointer;
	font-weight: 400;

}

@media (max-width: 450px){
	.form{
		padding:3.5em 1em;
	}
}